.jumbotron {
    border-radius: 6px;
    margin: 0px;
    padding:10px
}

#fragetitel {
    font-weight: 600;
}

#questions {
    padding-top: 10px;
    cursor: pointer;
}

.sort {
    cursor: pointer;
}

#selected_category {
    padding-left: 15px;
    color: darkslategrey;
}

.declaration {
    color: darkslategrey;
    margin-right: 15px;
    font-style: oblique;
}

.age {
    color: darkslategrey;
    font-style: oblique;
    margin: 13px;
}

.slider-selection {
    background: #d9d8d8;
}

/*Barchart*/
rect.bordered {
    stroke: #E6E6E6;
    stroke-width: 2px;
}

.btn-group {
    margin-right: 10px;
}

#chart {
    font-size: 9pt;
    /*font-family: Consolas, courier;*/
}

text.axis {
    fill: #000;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: steelblue;
}

.x.axis path {
    display: none;
}

.legend line {
    stroke: #000;
    shape-rendering: crispEdges;
}

form {
    position: relative;
    left: 10px;
    top: 10px;
    color: #9a9191;
}
